@{
    ViewBag.Title = "Messages";
}

@section head{

}
    <div class="container mt-3 jumbotron-opacity">
        <div class="col-md-12">
            <h1 class="text-center">
                @ViewBag.Title

                <hr />
            </h1>
            <div class="row">
                <ChatConversationsViewComponent></ChatConversationsViewComponent>
            </div>
        </div>
    </div>
